@media (max-width : 1199px) {

    /* header */
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .875rem 0;
        font-size: .875rem !important;
    }

    .main-btn {
        font-size: .875rem;
    }

    /* Booking Area */

    .booking-area {
        padding: 3rem .625rem !important;
    }

    .booking-area .main-btn {
        padding-left: 0.4125rem !important;
        padding-right: 0.4125rem !important;
        font-size: 0.85rem;
    }

    /* Rooms */

    .room-items .room-content {
        padding: .5rem .875rem !important;
    }

    .room-items .room-content h5 {
        font-size: 1.2rem !important;
    }

    .room-items .room-content p {
        font-size: .75rem !important;
    }
}

@media (max-width : 991px) {

    /* Custom CSS */
    section {
        padding: 1.875rem 0;
    }

    /* Navbar */
    .header-scrolled {
        height: auto;
    }

    .header-wrapper .menu-navbar-nav {
        text-align: center;
        padding-bottom: .9375rem;
    }
    .banner-wrapper {
        height: 25.625rem !important;
    }
    .booking-area {
        padding: 3.125rem 1.875rem !important;
    }

    /* About Section */
    .about-wrapper{
        padding-top: 22rem !important;
    }



        /* services section */
    
.service-item-wrap ul li:nth-child(1){
    margin-left: 0 !important;
}

.service-item-wrap ul li:nth-child(2){
    margin-left: 0 !important;
}

.service-item-wrap ul li:nth-child(3){
    margin-left: 0 !important;
}
.service-item-wrap ul li:nth-child(4){
    margin-left: 0 !important;
}
}


@media (max-width : 767px) {

    /* custom css */
    :root {
        /* Font Sizes */
        --fs-h5: 1.25rem !important;
        --fs-h3: 1.75rem !important;
        --fs-h1: 1.875rem !important;
        --fs-p: .8125rem !important;

        /* Line Heights */
        --lh-h5: 1 !important;
        --lh-h3: 2.1875rem !important;
        --lh-h1: 2.5rem !important;
        --lh-p: 1.5rem !important;
    }

    .container.booking-area {
        max-width: 100%;
        border-radius: 0;
    }

    .banner-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
        width: .5375rem !important;
        height: .5375rem !important;
        border: 0.025rem solid var(--bg-white) !important;
    }

     /* Rooms */

     .rooms-wrapper .room-items-wrap {
        top: 15% !important;
     }
     .room-items .room-content {
        padding: 2rem 1.875rem !important;
    }

    .room-items .room-content h5 {
        font-size: 1.5rem !important;
    }

    .room-items .room-content p {
        font-size: 1rem !important;
    }

    /* services section */
    
.service-item-wrap ul li:nth-child(1){
    margin-left: 0 !important;
}

.service-item-wrap ul li:nth-child(2){
    margin-left: 0 !important;
}

.service-item-wrap ul li:nth-child(3){
    margin-left: 0 !important;
}
.service-item-wrap ul li:nth-child(4){
    margin-left: 0 !important;
}
}