/* TABLE OF CONTENTS */

/* -----------------
1. General
2. Navbar
3. Slider
4. About
5. Rooms
6. Services
7. Gallery
8. Price
9. Blog
10.Footer
-----------------*/

/* 1. General  */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* background Colors */
    --bg-primary: #021832;
    --bg-secondary: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;


    /* Text Colors */
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Oswald', sans-serif;
    --text-primary: #021823;
    --text-secondary: #caa169;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;

    /* Font Weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    /* Font Sizes */
    --fs-h6: .875rem;
    --fs-h5: 1.5rem;
    --fs-h3: 2.25rem;
    --fs-h1: 3.75rem;
    --fs-p: 1rem;

    /* Line Heights */
    --lh-h5: 1;
    --lh-h3: 2.25rem;
    --lh-h1: 4.25rem;
    --lh-p: 1.625rem;


}

body {
    font-family: var(--ff-primary);
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-primary);
    border-radius: 4px;
}

section {
    padding: 3.125rem 0;
}

.main-btn {
    font-size: 1rem;
    font-weight: var(--fw-semi-bold);
    color: var(--bg-primary);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--bg-primary);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    /* line-height: 1.75rem; */
    display: inline-block;
    transition: all 0.3s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--bg-secondary);
    border-color: var(--bg-secondary);
    color: var(--text-white);
}

h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    font-weight: var(--fw-bold);
    color: var(--text-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--ff-secondary);
}

h3 {
    font-size: var(--fs-h3);
    margin-bottom: 1.875rem;
    line-height: var(--lh-h3);
    font-weight: var(--fw-bold);
    color: var(--text-primary);
    font-family: var(--ff-secondary);
}

h3 span {
    color: var(--bg-secondary);
}

h5 {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
    color: var(--text-primary);
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-secondary);
}

h6 {
    font-size: var(--fs-h6);
    color: var(--text-primary);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: var(--fw-light);
    font-family: var(--ff-secondary);
}

p {
    font-size: var(--fs-p);
    color: var(--text-black);
    line-height: var(--lh-p);
}

.section-title::after {
    content: "";
    background-image: url('../images/title-icon.webp');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-top: -0.9375rem;
    height: .9375rem;
}


/* 2. Navbar */

.header-wrapper .navbar {
    padding: .9375rem 0;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 0.5rem .375rem rgb(0 0 0 / 40%);
    box-shadow: 0 0.5rem .375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}

.header-wrapper .navbar-toggler {
    border: 0;
    color: var(--text-primary);
    line-height: 2;
}

.header-wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header-wrapper .nav-item {
    margin: 0 .625rem;
}

.header-wrapper .nav-item .nav-link {
    font-size: var(--fs-p);
    font-weight: var(--fw-semi-bold);
    color: var(--text-primary);
    display: inline-block;
}

.header-wrapper .nav-item .nav-link:hover,
.header-wrapper .nav-item .nav-link:active {
    color: var(--text-secondary);
}

.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .85);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

/* 3 Banner */

.banner-wrapper {
    height: 40.25rem;
    position: relative;
}

.banner-wrapper .swiper {
    width: 100%;
    height: 100%;
}

.banner-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Adding a slightly dark background over banner section */
.banner-wrapper .swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: .5;
    z-index: -2;
}

.banner-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
    width: .7375rem;
    height: .7375rem;
    background-color: var(--bg-secondary);
    border: 0.125rem solid var(--bg-white);
}

.banner-wrapper .swiper .slide-caption {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 999;
}

.banner-wrapper .swiper .slide-caption p {
    max-width: 37.5rem;
    margin: 0 auto;
    color: var(--text-white);
}

.booking-area {
    background: var(--bg-white);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
    margin-top: -4rem;
    border-radius: 16px;
    padding: 3.125rem 1.875rem;
    position: relative;
    z-index: 99;
}

.booking-area .form-control,
.booking-area .form-select {
    border: .0625rem solid var(--text-primary);
    height: 2rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: var(--fw-semi-bold);
    color: var(--text-black);
}


/* 3 About Section */

.about-wrapper {
    padding-top: 10rem;
}

/* 4 Rooms section */

.rooms-wrapper .room-items {
    position: relative;
    overflow: hidden;
}

.rooms-wrapper .room-items::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}

.rooms-wrapper .room-items img {
    width: 100%;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}

.rooms-wrapper .room-items:hover img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.rooms-wrapper .room-items:hover::before {
    opacity: .6;
}

.rooms-wrapper .room-items-wrap {
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    top: 5%;
    transform: translateY(-50%);
    z-index: 1;
}

.rooms-wrapper .room-items .room-content {
    opacity: 0;
    position: absolute;
    padding: 4rem 1.875rem;
     transition: all 400ms ease-in 0s;
    -webkit-transition: all 400ms ease-in 0s;
    border: .125rem solid var(--bg-white);
}

.rooms-wrapper .room-items:hover .room-content {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}


/* Services */

.service-item-wrap {
    background-color: var(--bg-color);
}

.service-item-wrap ul li a {
    display: block;
    margin-bottom: 2.8125rem;
}

.service-item-wrap ul li a .service-icon {
    height: 5.625rem;
    width: 5.625rem;
    background-color: var(--bg-secondary);
    line-height: 5.625rem;
    text-align: center;
    border-radius: 100%;
    float: left;
    transition: all .3s ease-in-out;
}

.service-item-wrap ul li a .service-icon:hover,
.service-item-wrap ul li a.active .service-icon {
    background-color: var(--bg-primary);
    color: var(--bg-white);
    box-shadow: 0 .125rem rgb(34 30 31 / 40%);
}

.service-item-wrap ul li:nth-child(1){
    margin-left: .5625rem;
}

.service-item-wrap ul li:nth-child(2){
    margin-left: -2.93755rem;
}

.service-item-wrap ul li:nth-child(3){
    margin-left: -6.375rem;
}

.service-item-wrap ul li:nth-child(4){
    margin-left: -8.8125rem;
}

.service-item-wrap ul li a p,
.service-item-wrap ul li a h5 {
    padding-left: 6.875rem;
    display: block;
    text-align: left;
}

.service-item-wrap ul li a p span {
    color: var(--bg-secondary);
}

.counter {
    background-image: url('../images/counter-bg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.125rem;
    position: relative;
}

.counter::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-black);
    opacity: .5;
    z-index:1;
}

.counter h1,
.counter p {
    position: relative;
    z-index: 3;
    color: var(--text-white);
}